{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock %}

{% block content %}
<!-- Page Numbering -->
<div class="row medium-8 large-7 columns">
  <div class="column row">
    <label class="text-center">Select Round</label>
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li class="pagination-previous disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on round</span> 0</li>
        <li><a href="/1" aria-label="Round 1">1</a></li>
        <li><a href="/2" aria-label="Round 2">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li class="pagination-next"><a href="/1" aria-label="Next page">Next</a></li>
    </ul>
  </div>
  
<table style="width:100%">
  <tr>
    <th>Round</th>
    <th>Game</th>
    <th>Home Team</th>
    <th>Away Team</th>
  </tr>
  {% if game_list %}
      {% for Fixture in game_list %}
          <tr>
            <td>{{ Fixture.round_no }}</td>
            <td>{{ Fixture.rg_no }}</td>
            <td>{{ Fixture.home_team }} </td>
            <td>{{ Fixture.away_team }}</td>
          </tr>
    {% endfor %}
</table>

{% else %}
    <p>No games are available.</p>
{% endif %}

</div>
{% endblock %}
