{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock %}

{% block content %}

<!-- Page Numbering -->
<div class="row medium-8 large-7 columns">
  <div class="column row">
    <label class="text-center">Select Round</label>
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
        <li class="pagination-previous disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on round</span> 0</li>
        <li><a href="/1" aria-label="Round 1">1</a></li>
        <li><a href="/2" aria-label="Round 2">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li><a>5</a></li>
        <li class="pagination-next"><a href="/1" aria-label="Next page">Next</a></li>
    </ul>
  </div>

{% endblock %}


  {% if round_list %}
    <ul>
    {% for Fixture in round_list %}
        <li><a href="/{{ Fixture.round_no }}/">{{ Fixture.round_no }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}


<table style="width:100%">
  <tr>
    <th>Round</th>
    <th>Game</th>
    <th>Home Team</th>
    <th>Away Team</th>
  </tr>
  {% if game_list %}
      {% for Fixture in game_list %}
          <tr>
            <td>{{ Fixture.round_no }}</td>
            <td>{{ Fixture.rg_no }}</td>
            <td>{{ Fixture.home_team }} </td>
            <td>{{ Fixture.away_team }}</td>
          </tr>
    {% endfor %}
</table>

{% else %}
    <p>No games are available.</p>
{% endif %}

</div>


<form action="" method="post">
{% csrf_token %}
{% for Fixture in game_list %}
    <input type="radio" name="selection" id="selection{{ forloop.counter }}" value="{{ Fixture.game_no }}" />
    <label for="selection{{ forloop.counter }}">{{ Fixture.home_team }} {{ Fixture.away_team }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
